/* 
@keyframes backgroundChange {
    0% { background-image: url('/Assets/images/hero_lorry_plane.png'); }
    50% { background-image: url('/Assets/images/hero_plane.png'); }
    100% { background-image: url('/Assets/images/hero_ship.png'); }
}

.hero {
    animation: backgroundChange 10s infinite;
}

 */

 .carousel .hero {
    display: none;
  }

  .carousel .hero:first-child {
    display: block;
  }