@font-face {
  font-family: 'Poppins'; 
  src: url('/Assets/fonts/poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "Poppins", serif;
    
}

 .carousel .hero {
    display: none;
  }

  .carousel .hero:first-child {
    display: block;
  }